.App {
    text-align: center;
}

.App-header {
    background-color: #fff;
    padding-top: 550px;
    padding: 20px;
    color: #000;
}

#headerImg {
    width: 100%;
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/newHeaderLogo.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerText {
    color: #EBEBEB;
    margin-top: 50px;
    padding: 25px;
    height: 250px;
    width: 75%;
}

#getStarted {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/getStarted.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
    color: #EBEBEB;
    margin-bottom: 0px;
    padding-bottom: 400px;
    width: 100%;
    height: 400px;
}


/* 
    Footer CSS
    ================================================== 

*/

#customFooter {
    background-color: #343a40!important;
    color: #000;
    margin: 0px 0px;
    padding: 5px 5px;
    border-top: 5px solid darkorange;
}

#moreInfoFooter,
#quickLinksFooter {
    padding-top: 50px;
}


/* ================================================== */

.card {
    background: none;
    border: none;
}

body {
    background-color: #EBEBEB
}

.card-img-top {
    width: 128px;
    height: 128px;
    /* margin-left: 33%; */
    /* margin-right: 33%; */
}

.card-deck {
    margin: 55px 15px 55px 15px;
}

.navbar-brand {
    padding-top: 0px;
    height: 120px;
    margin-left: 25px;
}

.navbar {
    margin-bottom: 0px;
    background-color: #272727
}


/* .App-logo {
    display: inline;
}

.App-intro {
    font-size: large;
} */

.btn,
.btn-primary {
    width: 200px;
    margin: 5px;
    background-color: darkorange;
    border-color: #fff;
}

.btn:hover,
.btn-primary:hover {
    background-color: #110E3B;
    border-color: #fff;
}